@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
}

header {
  padding: 5%;
  width: 100%;
  height: 60vh;
  background: linear-gradient(197.29deg, #DC07FF 4.82%, #0C7A9C 66.29%);
  position: relative;
}
header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation img.logo {
  height: 40px;
}
header .navigation i {
  color: white;
  font-size: 20px;
}
header svg {
  position: absolute;
  left: 0;
  top: 60px;
}
header .presentation {
  padding: 40px 0;
  color: white;
}
header .presentation p {
  font-size: 1.4rem;
}
header .presentation h1 span {
  color: orange;
  font-weight: normal;
}
header .presentation h1 {
  font-size: 2rem;
  font-weight: bold;
}
header .presentation h2 {
  font-size: 1.8rem;
  font-weight: lighter;
}
header .reach-me {
  background-color: white;
  color: #0C7A9C;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(222, 7, 255, 0.4117647059);
  text-decoration: none;
}
header .profile {
  background-color: white;
  border-radius: 20px;
  width: 240px;
  height: 240px;
  position: relative;
  align-self: flex-end;
  box-shadow: 0px 4px 4px rgba(222, 7, 255, 0.4117647059);
  margin-top: 40px;
  margin-left: auto;
}
header .profile img {
  position: absolute;
  bottom: 0;
}

main .social-media {
  padding: 16px 5%;
  margin: 40px 0;
  width: 140px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
main .social-media a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0C7A9C;
  color: white;
}
main .social-media .whatsapp {
  grid-column: 1;
  grid-row: 1;
}
main .social-media .instagram {
  grid-row: 2;
  grid-column: 1;
}

main section {
  padding: 30px 5%;
}
main section:nth-child(odd) {
  background-color: rgba(12, 122, 156, 0.09);
}
main section h3 {
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
}
main section h3::after {
  content: "";
  height: 4px;
  width: 10%;
  background-color: black;
  position: absolute;
  left: 0;
  bottom: -5px;
  border-radius: 2px;
}
main section p {
  color: gray;
}

section#work {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section#work .work {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(194, 194, 194);
  padding: 8px 12px 0;
  border-radius: 4px;
  width: 100%;
  max-width: 350px;
}
section#work .work img {
  width: 100%;
  max-width: 350px;
}

section#exhibition {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section#exhibition .exhibition {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
section#exhibition .exhibition span {
  display: block;
}
section#exhibition .exhibition span.date {
  color: gray;
}
section#exhibition .exhibition span.place {
  color: #0C7A9C;
  font-size: 1.2rem;
  font-weight: bold;
}
section#exhibition img {
  width: 90%;
  max-width: 500px;
  margin-left: auto;
}

footer {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 24px 5%;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
footer a {
  color: #fff;
}
footer .container {
  margin-bottom: 16px;
}
footer .container .title {
  font-weight: bold;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4392156863);
  color: #fff;
}
footer .container ul {
  display: grid;
  grid-template-columns: 20px, auto;
  justify-content: start;
  align-items: baseline;
  -moz-column-gap: 16px;
       column-gap: 16px;
  padding: 0 0 8px;
  list-style-type: none;
}
footer .container ul i {
  grid-column: 1;
}
footer .container ul li {
  grid-column: 2;
  align-items: start;
  justify-items: start;
  justify-content: start;
}
footer .container ul li:nth-child(1) {
  font-weight: bold;
}
footer .container ul a {
  text-decoration: none;
}
footer .social {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
footer .social i {
  text-align: center;
}
footer .social a {
  display: flex;
  gap: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(189, 189, 189);
}
footer .copyrights {
  text-align: center;
  padding: 8px 0;
  margin-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}/*# sourceMappingURL=style.css.map */